<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poster1</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster2</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster3</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster4</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster5</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster6</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster7</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster8</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster9</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster10</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster11</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster12</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster13</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster14</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster15</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster16</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster17</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
	<key>poster18</key>
	<dict>
		<key>number</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>authors</key>
		<string></string>
		<key>abstract</key>
		<string></string>
	</dict>
</dict>
</plist>
